<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--Vermeld hier je naam en studentennummer-->
<!--Van Eynde Michiel r0794174-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
    <title>Afdeling&dash;lijst</title>
</head>
<body>
<div class="container">
    <h1 th:text="'Dit zijn de afdelingen van supermarkt ' + ${supermarkt.getNaam()}"></h1>
    <div>
        <ol class="row tac p-3">
            <li class="mb-3 pt-1 pb-2 col-12 col-md-6 border" th:each="afdeling : ${supermarkt.getAfdelingen()}">
                <span class="naam" th:text="${afdeling.getNaam()}"></span>
                <ul id="list">
                    <li th:text="'Verantwoordelijke: ' + ${afdeling.getVerantwoordelijke().getFamilienaam()} + ' ' + ${afdeling.getVerantwoordelijke().getVoornaam()}"></li>
                    <li th:if="${afdeling.isGekoeld() == true}" th:text="'Afdeling is gekoeld'"></li>
                    <li th:unless="${afdeling.isGekoeld() == true}" th:text="'Afdeling is niet gekoeld'"></li>

                </ul>
                <img class="m-auto" onerror="this.src='img/geen_afdeling.jpg'" th:src="@{${afdeling.getFoto()}}"
                     th:alt="${afdeling.getNaam()}">
            </li>
        </ol>
    </div>
    <div>
        <a href="/" class="btn btn-warning m-2">Terug naar startpagina</a>
    </div>
</div>
</body>
</html>