<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--Vermeld hier je naam en studentennummer-->
<!--Van Eynde Michiel r0794174-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="img/style.css">
    <title>Aangemaakte klant</title>
</head>
<body>
<div id="aanmaakKlant" class="container">
    <h1>Klant aangemaakt</h1>
    <p id="klant" class="col-12" th:text="Welkom + ' ' + ${klant.toString()}"></p>

    <div>
        <a href="/" class="btn btn-warning m-2">Terug naar startpagina</a>
    </div>
</div>
</body>
</html>