<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--Vermeld hier je naam en studentennummer-->
<!--Van Eynde Michiel r0794174-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="img/style.css">
    <title>Nieuwe supermarkt</title>
</head>
<body>
<div class="container">
    <h1>Nieuwe supermarkt</h1>
    <form action="8_supermarktenFormulier">
        <div class="form-group mt-2 tac">
            <label for="supermarkt">Naam supermarkt: </label>
            <input required id="supermarkt" name="supermarkt" type="text" placeholder="Supermarktnaam">
        </div>
        <button class="m-2 btn btn-outline-success" type="submit">Registreer supermarkt</button>
    </form>
    <div>
        <a href="/" class="btn btn-warning m-2">Terug naar startpagina</a>
    </div>
</div>

</body>
</html>