<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--Vermeld hier je naam en studentennummer-->
<!--Van Eynde Michiel r0794174-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
    <title>Startpagina</title>
</head>
<body>
<div class="container p-3">
    
    <div class="m-4 tac">
        <h1>Project Market | WSE</h1>
        <h3>Michiel Van Eynde</h3>
    </div>
    <p>
        <a href="0_examen">Examen: Overzicht personeelsleden MET wedde</a>
    </p>
    <div id="linken" class="row m-3">
        <p class="mb-2 btn btn-outline-success col-12 col-md-6  col-lg-4">
            <a href="1_klantRegristratie">Nieuwe klant</a>
        </p>
        <p class="mb-2 btn btn-outline-success col-12 col-md-6  col-lg-4">
            <a href="3_personeelRegristratie">Nieuw personeelslid</a>
        </p>
        <p class="mb-2 btn btn-outline-success col-12 col-md-6  col-lg-4">
            <a href="5_personeelsleden">Toon alle personeelsleden</a>
        </p>
        <p class="mb-2 btn btn-outline-success col-12 col-md-6  col-lg-4">
            <a href="6_klanten">Toon alle klanten</a>
        </p>
        <p class="mb-2 btn btn-outline-success col-12 col-md-6  col-lg-4">
            <a href="7_supermarktRegistratie">Nieuwe supermarkt</a>
        </p>
        <p class="mb-2 btn btn-outline-success col-12 col-md-6 col-lg-4">
            <a href="8_supermarktenFormulier">Overzicht supermarkt</a>
        </p>
        <p class="mb-2 btn btn-outline-success col-12 col-md-6 col-lg-4">
            <a href="9_afdelingRegistratie">Nieuwe afdeling</a>
        </p>
        <div class="mb-2 col-12 col-md-6 col-lg-4">
            <form action="11_zoek">
                <div id="zoek" class="from-group">
                    <label for="zoeken"><i class="fas fa-search mr-2"></i></label>
                    <input type="text" id="zoeken" name="zoeken" placeholder="Zoek afdeling">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
